* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', 'sans-serif'; }

header {
  height: 10vh;
  background-color: #414141;
  display: flex;
  align-items: center;
  justify-content: center; }

h1 {
  color: #cfcfcf;
  display: inline-block;
  font-family: 'Audiowide', cursive; }

main {
  height: 90vh;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 100%;
  grid-template-areas: "user-palettes main-palette";
  background-color: #212121; }

.user-palettes, .main-palette {
  margin: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  border-radius: 10px; }

.user-palettes {
  grid-area: user-palettes;
  height: fit-content;
  max-height: 94%;
  overflow: scroll;
  margin-right: 0; }

.user-palettes::-webkit-scrollbar {
  display: none; }

button {
  background-color: #cfcfcf;
  border-radius: 10px; }

button:hover {
  background-color: #212121;
  color: #cfcfcf; }

input {
  border-radius: 10px;
  padding-left: 5px;
  border: none; }

.create-project-controls, .palette-controls {
  background-color: #414141; }

.create-project-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px; }

.create-project-input, .create-project-button {
  height: 60%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7); }

.create-project-input {
  width: 65%;
  font-size: .8em; }

.create-project-button {
  width: 25%;
  font-size: .7em; }

.project {
  background-color: #747474; }

.project-name {
  padding-bottom: 5px;
  padding-left: 15px;
  padding-top: 5px;
  border-top: 2px solid #212121;
  margin-top: 2px; }

.palette {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around; }

.saved-palette-colors {
  position: relative;
  width: 80%;
  margin-left: auto;
  display: flex; }

.palette-title {
  margin: auto;
  padding: 10px;
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: rgba(65, 65, 65, 0.85);
  border-radius: 10px;
  color: #cfcfcf; }

.small-color-container {
  display: flex;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 1;
  height: 60px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7); }

.small-palette-color {
  flex-grow: 1;
  width: 20%;
  height: 100%; }

.remove-palette-button {
  width: 10%;
  height: 30px;
  margin: auto;
  padding: 0;
  border: none;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7); }

.main-palette {
  grid-area: main-palette;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.color-container {
  height: 75%;
  width: 100%; }

.color {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.color-text, .lock {
  padding: 10px;
  display: inline-block;
  background-color: rgba(65, 65, 65, 0.8);
  color: #cfcfcf;
  border-radius: 10px; }

.color-text {
  margin-left: 25%; }

.lock {
  height: 50%;
  margin-right: 25%; }

.palette-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  width: 100%; }

.roll-colors-button {
  height: 35%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  font-size: 1em; }

.create-palette-controls {
  height: 25%;
  width: 75%;
  display: flex;
  justify-content: space-between; }

.project-dropdown, .palette-name, .save-palette-button {
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  font-size: .8em; }

.project-dropdown {
  width: 20%; }

.palette-name {
  width: 45%; }

.save-palette-button {
  width: 20%; }

.color1 {
  background-color: red; }

.color2 {
  background-color: orange; }

.color3 {
  background-color: yellow; }

.color4 {
  background-color: green; }

.color5 {
  background-color: blue; }

.top-border {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.bottom-border {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.small-palette-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.small-palette-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

@media (max-width: 600px) {
  main {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto;
    grid-template-areas: "main-palette" "user-palettes";
    overflow: scroll;
    margin-right: 0; }

  main::-webkit-scrollbar {
    display: none; }

  .main-palette {
    height: 90%;
    margin: auto;
    width: 90%; }

  .lock {
    padding: 5px;
    height: 60%; }

  .user-palettes {
    margin-right: 20px;
    overflow: visible;
    max-height: 100%; }

  .color-container {
    height: 65%; }

  .palette-controls {
    height: 35%; }

  .project-dropdown, .palette-name, .save-palette-button {
    font-size: .4em; } }

/*# sourceMappingURL=styles.css.map */
