$font-one: rgba(207, 207, 207, 1);

$main-one: rgba(49, 49, 49, 1);
$main-two: rgba(116, 116, 116, 1);
$secondary-one: rgba(33, 33, 33, 1);
$secondary-two: rgba(65, 65, 65, 1);
$accent-one: rgba(236, 98, 95, 1);
$border: solid 2px $main-one;
$border-radius: 10px;
$shadow: 2px 2px 5px 0px rgba(0, 0, 0, .7);
